-- TAO DATABASE QLXUAT
CREATE DATABASE QLXUAT
go
USE QLXUAT
GO
--TAO TABLE LOAI
CREATE TABLE LOAI
(
	MALOAI VARCHAR(5) CONSTRAINT ML_PK PRIMARY KEY,
	TENLOAI NVARCHAR(30) NOT NULL
)
go
-- TAO BANG NHAN VIEN
CREATE TABLE NHANVIEN
(
	MANV VARCHAR(10)CONSTRAINT NV_PK PRIMARY KEY,
	HOTEN NVARCHAR(50),
	NGAYSINH DATETIME CONSTRAINT NS_CHECK CHECK(DATEDIFF(YEAR,NGAYSINH,GETDATE())>=18 AND DATEDIFF(YEAR,NGAYSINH,GETDATE())<=55 ),
	PHAI nvarchar(5)
)
go
-- TAO BANG SAN PHAM
CREATE TABLE SANPHAM 
(
	--MASP INT IDENTITY(1,1) CONSTRAINT SP_PK PRIMARY KEY,
	MASP varchar(5) PRIMARY KEY,
	TENSP NVARCHAR(20) UNIQUE,
	MALOAI VARCHAR(5) CONSTRAINT SP_FK FOREIGN KEY REFERENCES LOAI(MALOAI) 
)
go
-- TAO BANG PHIEU XUAT
CREATE TABLE PHIEUXUAT
(
	--MAPX INT IDENTITY(1,1) CONSTRAINT PX_PK PRIMARY KEY, -- MA PHIEU XUAT TU DONG TANG
	MAPX VARCHAR(5) CONSTRAINT PX_PK PRIMARY KEY,
	NGAYLAP SMALLDATETIME ,
	MANV VARCHAR(10) CONSTRAINT PX_FK FOREIGN KEY  REFERENCES NHANVIEN(MANV)
)
go
-- CHI TIET XUAT
CREATE TABLE CHITIETXUAT
(
	MAPX varchar(5) CONSTRAINT CTHD_MHD_FK FOREIGN KEY REFERENCES PHIEUXUAT(MAPX), 
	MASP varchar(5) CONSTRAINT CTHD_MVT_FK FOREIGN KEY REFERENCES SANPHAM(MASP),
	SOLUONG INT CONSTRAINT SL_CHECK CHECK(SOLUONG>0),
	CONSTRAINT CTX_PK PRIMARY KEY(MAPX,MASP)
	
)
go
--xem lại du lieu chua phu hop voi bang da sua kieu du lieu
--Insert data to table LOAI--
INSERT INTO LOAI VALUES('VT01','VAT LIEU XAY DUNG')
INSERT INTO LOAI VALUES('VT02','HANG TIEU DUNG')
INSERT INTO LOAI VALUES('VT03','NGU COC')
--Insert data to table KHACHHANG--
INSERT INTO SANPHAM VALUES('SP01','XI MANG','VT01')
INSERT INTO SANPHAM VALUES('SP02','GACH','VT01')
INSERT INTO SANPHAM VALUES('SP03','GAO NANG HUONG','VT03')

SET DATEFORMAT DMY
--Insert data to table NHANVIEN--
INSERT INTO NHANVIEN VALUES('NV01','NGUYEN THE BE','15/5/1982','NU')
INSERT INTO NHANVIEN VALUES('NV02','LE HOANG NAM','2/12/1980','NAM')
INSERT INTO NHANVIEN VALUES('NV03','TRAN THI CHIEU','23/1/1979','NU')

--INSERT PHIEUXUAT
INSERT INTO PHIEUXUAT VALUES('PX01','12/3/2005','NV01')
INSERT INTO PHIEUXUAT VALUES('PX02','3/2/2006','NV02')
INSERT INTO PHIEUXUAT VALUES('PX03','1/6/2006','NV03')
--Insert data to table CHITIETXUAT--
INSERT INTO CHITIETXUAT VALUES('PX01','SP01',10)
INSERT INTO CHITIETXUAT VALUES('PX01','SP02',15)
INSERT INTO CHITIETXUAT VALUES('PX01','SP03',5)

GO
-- TAO VIEW --
--CAU 1: CHO BIET MASP, TENSP, TONG SL XUAT CUA TUNG SAN PHAM TRONG NAM 2006
ALTER VIEW CAU3_1 AS
SELECT TOP 100 PERCENT SP.MASP,TENSP,SUM(SOLUONG) TONGSL
FROM SANPHAM SP INNER JOIN CHITIETXUAT CT ON SP.MASP=CT.MASP INNER JOIN PHIEUXUAT P ON P.MAPX=CT.MAPX
WHERE YEAR(NGAYLAP)=2006
GROUP BY SP.MASP,TENSP
ORDER BY TENSP ASC
GO
SELECT * FROM CAU3_1
GO

-- CAU 2: CHO BIET MASP, TENSP, TENLOAISP, DUOC BAN TU NGAY 1/1/2006 DEN 30/6/2006
SET DATEFORMAT DMY
GO

CREATE VIEW CAU3_2 AS
SELECT DISTINCT SP.MASP, TENSP,TENLOAI
FROM SANPHAM SP INNER JOIN LOAI L ON L.MALOAI=SP.MALOAI INNER JOIN CHITIETXUAT CT ON SP.MASP=CT.MASP INNER JOIN PHIEUXUAT PX ON PX.MAPX=CT.MAPX
WHERE NGAYLAP BETWEEN '1/1/2006' AND '30/6/2006'
GO
SELECT * FROM CAU3_2
GO

-- CAU 3-3 : CHO BIET SO LUONG SAN PHAM TRONG TUNG LOAI SANPHAM
CREATE VIEW CAU3_3 AS
SELECT L.MALOAI,COUNT(TENSP)SLSP
FROM LOAI L INNER JOIN SANPHAM SP ON L.MALOAI=SP.MALOAI
GROUP BY L.MALOAI
GO
SELECT * FROM CAU3_3 
GO

-- CAU 3-4: CHO BIET TONG SO LUONG PHIEU XUAT TRONG THANG 6  NAM 2006
CREATE VIEW CAU3_4 AS
SELECT COUNT (MAPX) TONGPX
FROM PHIEUXUAT
WHERE MONTH(NGAYLAP)=6 AND YEAR(NGAYLAP)=2006
GO 
SELECT * FROM CAU3_4
GO

-- CAU 3-5: CHO BIET VE PHIEU XUAT MA NHAN VIEN 'NV01' XUAT
CREATE VIEW CAU3_5 AS
SELECT *
FROM PHIEUXUAT
WHERE MANV='NV01'
GO 
SELECT * FROM CAU3_5
GO

-- CAU 3-6: CHO BIET DANH SACH NHAN VIEN NAM CO TUOI TREN 25 DUOI 30
CREATE VIEW CAU3_6 AS
SELECT *
FROM NHANVIEN
WHERE PHAI LIKE 'NAM' AND (YEAR(GETDATE())-YEAR(NGAYSINH)) BETWEEN 25 AND 30
GO

SELECT * FROM CAU3_6
GO

-- CAU 3-7: THONG KE SO LUONG PHIEU XUAT THEO TUNG NHANVIEN
CREATE VIEW CAU3_7 AS
SELECT MANV, COUNT(MAPX) SLPX
FROM PHIEUXUAT
GROUP BY MANV
GO
SELECT * FROM CAU3_7
GO

-- CAU 3-8: THONG KE SAN PHAM DA XUAT THEO TUNG SAN PHAM
CREATE VIEW CAU3_8 AS
SELECT MASP, SUM(SOLUONG)TONGSL
FROM CHITIETXUAT
GROUP BY MASP
GO
SELECT * FROM CAU3_8
GO


-- CAU 3-9: LAY TEN NHAN VIEN CO SO LUONG PX LON NHAT
CREATE VIEW CAU3_9 AS
SELECT HOTEN
FROM NHANVIEN NV INNER JOIN PHIEUXUAT P ON NV.MANV=P.MANV
GROUP BY HOTEN
HAVING COUNT(MAPX)>= ALL(SELECT COUNT(MAPX) FROM PHIEUXUAT GROUP BY MANV)
GO
SELECT * FROM CAU3_9
GO

-- CAU 3-10: LAY RA TEN SAN PHAM DUOC XUAT NHIEU NHAT TRONG NAM 2005
CREATE VIEW CAU3_10 AS
SELECT TENSP
FROM SANPHAM SP INNER JOIN CHITIETXUAT CT ON SP.MASP=CT.MASP INNER JOIN PHIEUXUAT P ON P.MAPX=CT.MAPX
WHERE YEAR(NGAYLAP)=2005
GROUP BY TENSP
HAVING SUM(SOLUONG)>= ALL (SELECT SUM(SOLUONG) FROM CHITIETXUAT GROUP BY MASP)
GO
SELECT * FROM CAU3_10
GO

-- TAO FUNCTION --

-- CAU 4-1: Function F1 có 2 tham số vào là: tên sản phẩm, năm. 
--Function cho biết: số lượng xuất kho của tên sản phẩm này trong năm này. 
--(Chú ý: Nếu tên sản phẩm này không tồn tại thì phải trả về 0)
CREATE FUNCTION F1(@TENSP NVARCHAR(30),@NAM INT)
RETURNS INT
AS
BEGIN
	DECLARE @SLXUAT INT
	
	IF NOT EXISTS(SELECT * FROM SANPHAM WHERE TENSP LIKE @TENSP)
		SET @SLXUAT=0
	ELSE
		SELECT @SLXUAT=SUM(SOLUONG) 
		FROM SANPHAM SP, PHIEUXUAT PX, CHITIETXUAT CT
		WHERE SP.MASP=CT.MASP AND CT.MAPX=PX.MAPX AND TENSP LIKE @TENSP AND YEAR(NGAYLAP)=@NAM
	RETURN @SLXUAT
END
GO

--SELECT SUM(SOLUONG) 
--FROM SANPHAM SP, PHIEUXUAT PX, CHITIETXUAT CT
--WHERE SP.MASP=CT.MASP AND CT.MAPX=PX.MAPX AND TENSP='XI MANG' AND YEAR(NGAYLAP)=2005
PRINT 'SO LUONG XUAT CUA NAM...'+ STR(DBO.F1('XI MANG',2005))
--

DECLARE @TENSP NVARCHAR(20),@NAM INT
SET @NAM=2006
SET @TENSP=N'XI MANG'
PRINT 'SO LUONG XUAT CUA SAN PHAM '+@TENSP+ ' TRONG NAM '+CONVERT(VARCHAR(4),@NAM)+' LA '+ CONVERT(VARCHAR(20),DBO.F1(@TENSP,@NAM))
GO

-- CAU 4.2	Function F2 có 1 tham số nhận vào là mã nhân viên. 
--Function trả về số lượng phiếu xuất của nhân viên truyền vào. 
--Nếu nhân viên này không tồn tại thì trả về 0. 
CREATE FUNCTION F2(@MANV NVARCHAR(10))
RETURNS INT 
AS
BEGIN
	DECLARE @SL INT
	IF NOT EXISTS (SELECT * FROM NHANVIEN WHERE MANV = @MANV)
		SET @SL=0
	ELSE
		SELECT @SL=COUNT(MAPX)
		FROM PHIEUXUAT
		WHERE MANV = @MANV
	RETURN @SL
END

SELECT * FROM PHIEUXUAT

DECLARE @MANV NVARCHAR(10)
SET @MANV= 'nv01'
PRINT 'SO LUONG PHIEU CUA ' + @MANV + 'LA '+ CONVERT (NVARCHAR (10), DBO.F2(@MANV)) 
-- CAU 4.3 Function F3 có 1 tham số vào là năm, 
--trả về danh sách các sản phẩm được xuất trong năm truyền vào. 
CREATE FUNCTION F3 (@NAM INT)
RETURNS TABLE
AS
	 RETURN (SELECT  SANPHAM.* 
			FROM SANPHAM,PHIEUXUAT,CHITIETXUAT 
			WHERE PHIEUXUAT.MAPX=CHITIETXUAT.MAPX
				AND CHITIETXUAT.MASP=SANPHAM.MASP
				AND YEAR(NGAYLAP)=@NAM
			)
GO
-- THUC THI 
SELECT * FROM F3(2006)

-- CAU 44 Function F4 có một tham số vào là mã nhân viên để trả về danh sách các phiếu xuất của nhân viên đó. 
--Nếu mã nhân viên không truyền vào thì trả về tất cả các phiếu xuất.
SELECT * FROM NHANVIEN
---DROP FUNCTION C44
CREATE FUNCTION F4 (@MANV VARCHAR(10))
RETURNS @PHIEUXUAT TABLE
						(
							MANV VARCHAR(10),
							NGAYLAP SMALLDATETIME ,
							MAPX VARCHAR(10)
						)
AS
BEGIN
	IF (@MANV IS NULL )
		INSERT INTO @PHIEUXUAT
		SELECT * FROM PHIEUXUAT	
	ELSE
		INSERT INTO @PHIEUXUAT
		SELECT * FROM PHIEUXUAT	
		WHERE MANV=@MANV
	RETURN 
END

SELECT * FROM F4( NULL)
SELECT * FROM F4 ('NV01')
-- CAU 45 Function để cho biết tên nhân viên của một phiếu xuất có mã phiếu xuất là tham số truyền vào.
SELECT * FROM PHIEUXUAT
CREATE FUNCTION C45(@MAPX NVARCHAR(50))
RETURNS  VARCHAR(10)
AS
BEGIN
	
	DECLARE @HOTEN  NVARCHAR(50)
	SELECT @HOTEN=HOTEN
	FROM NHANVIEN,PHIEUXUAT
	WHERE NHANVIEN.MANV=PHIEUXUAT.MANV
	AND MAPX=@MAPX 
	RETURN @HOTEN
END

SELECT DBO.C45('PX01')

-- CAU 4.6 Function để cho biết danh sách các phiếu xuất từ ngày T1 đến ngày T2. (T1, T2 là tham số truyền vào). Chú ý T1 <= T2.
SET DATEFORMAT DMY
CREATE FUNCTION C46(@T1 SMALLDATETIME ,@T2 SMALLDATETIME )
RETURNS TABLE
AS
RETURN ( SELECT * FROM PHIEUXUAT 
		WHERE NGAYLAP  BETWEEN @T1 AND @T2) 
--
SET DATEFORMAT DMY
SELECT * FROM PHIEUXUAT
SELECT * FROM DBO.C46 ('2/2/2005','2/9/2005')

-- CAU 4.7 Function để cho biết ngày xuất của một phiếu xuất với mã phiếu xuất là tham số truyền vào.
CREATE FUNCTION C47 (@MAPX VARCHAR(10))
RETURNS SMALLDATETIME
AS
BEGIN
	DECLARE @NGAY SMALLDATETIME
	SELECT @NGAY=NGAYLAP FROM PHIEUXUAT
	WHERE MAPX=@MAPX
	RETURN @NGAY
END
SELECT DBO.C47 ('PX01')

DECLARE @MAPX VARCHAR(10)
SET @MAPX= 'PX01'
PRINT 'NGAY  LA : '+ CONVERT (VARCHAR (11),DBO.C47(@MAPX)) 

----===================TAO PROCEDURE=============----
-- CAU 5-1: Procedure tên là P1 cho có 2 tham số sau:
--•	1 tham số nhận vào là: tên sản phẩm.
--•	1 tham số trả về cho biết: tổng số lượng xuất kho của tên sản phẩm này trong năm 2006 
--(Không viết lại truy vấn, hãy sử dụng Function F1 ở câu 4 để thực hiện)

CREATE PROCEDURE P1(@TENSP NVARCHAR(50),@TONGSL INT OUT)
AS
BEGIN
	SELECT @TONGSL=dbo.F1(@TENSP,2006)
END
GO
--TEST
DECLARE @TONGSL INT
EXEC P1 'XI MANG', @TONGSL OUT
--PRINT 'TONG SL' + STR(@TONGSL)
PRINT 'TONG SL '+CONVERT(VARCHAR(20),@TONGSL)
GO

-- CAU 5-2:Procedure tên là P2 có 2 tham số sau:
--•	1 tham số nhận vào là: tên sản phẩm.
--•	1 tham số trả về cho biết: tổng số lượng xuất kho của tên sản phẩm này trong khoảng thời gian 
--từ đầu tháng 4/2006 đến hết tháng 6/2006 (Chú ý: Nếu tên sản phẩm này không tồn tại thì trả về 0)

CREATE PROCEDURE P2
						@TENSAP NVARCHAR(50),
						@TONGSL INT OUT
AS
BEGIN
	IF NOT EXISTS (SELECT * FROM SANPHAM WHERE TENSP LIKE @TENSAP)
		SET @TONGSL=0
	ELSE
		SELECT @TONGSL=SUM(SOLUONG) 
		FROM SANPHAM SP, PHIEUXUAT PX, CHITIETXUAT CT
		WHERE SP.MASP=CT.MASP AND CT.MAPX=PX.MAPX AND TENSP LIKE @TENSAP AND YEAR(NGAYLAP)=2006 AND (MONTH(NGAYLAP) BETWEEN 4 AND 6)
END
GO

DECLARE @TONGSL INT
EXEC P2 'XI MANG', @TONGSL OUT
PRINT @TONGSL 
GO

-- CAU 5-3:Procedure tên là P3 chỉ có duy nhất 1 tham số nhận vào là tên sản phẩm. 
--Trong Procedure này có khai báo 1 biến cục bộ được gán giá trị là: 
--số lượng xuất kho của tên sản phẩm này trong khoảng thời gian từ đầu tháng 4/2006 đến hết tháng 6/2006. 
--Việc gán trị này chỉ được thực hiện bằng cách gọi Procedure P2.
CREATE PROCEDURE P3
@TENSP NVARCHAR(50)
AS
BEGIN
	DECLARE @TONGSL INT
	EXEC P2 @TENSP, @TONGSL OUT
	PRINT @TONGSL
END
GO

EXEC P3 'XI MANG'
GO
-- CAU 5-4:Procedure P4 để INSERT một record vào trong Table Loai. 
--Giá trị các field là tham số truyền vào.
CREATE PROCEDURE P4
					@MALOAI VARCHAR(5),
					@TENLOAI NVARCHAR(30)
AS
	INSERT INTO LOAI VALUES (@MALOAI,@TENLOAI)
GO

EXEC P4 'L01','DIEN LANH'
GO

SELECT *
FROM LOAI
-- CAU 5-5:Procedure P5 để DELETE một record trong Table NhânViên theo mã nhân viên. 
--Mã NV là tham số truyền vào.
CREATE PROCEDURE CAU5_5
@MANV VARCHAR(20)
AS
	DELETE FROM NHANVIEN WHERE MANV=@MANV
GO

/* VIET TRIGGER */
-- CAU 6 - 1:Chỉ cho phép một phiếu xuất có tối đa 5 chi tiết phiếu xuất.
CREATE TRIGGER CAU6_1 ON CHITIETXUAT
FOR INSERT
AS
	declare @mapx varchar(5)
	select @mapx=mapx from inserted
	IF(SELECT COUNT(*)FROM CHITIETXUAT ct, INSERTED I WHERE ct.MAPX=I.MAPX and i.MAPX=@mapx)>5
	
	BEGIN
		RAISERROR('1 PHIEU XUAT CHI CO TOI DA 5 CHI TIET',16,1)
		ROLLBACK TRANSACTION
	END
GO

SELECT * FROM CHITIETXUAT
SELECT * FROM SANPHAM
GO

-- CAU 6-2:Chỉ cho phép một nhân viên lập tối đa 10 phiếu xuất trong một ngày
CREATE TRIGGER CAU6_2 ON PHIEUXUAT
FOR INSERT
AS
	IF(SELECT COUNT(*) FROM PHIEUXUAT PX, INSERTED I WHERE PX.MANV=I.MANV AND PX.NGAYLAP=I.NGAYLAP)>10
	BEGIN
		RAISERROR('MOI NHAN VIEN CHI DUOC XUAT TOI DA 10 PHIEU TRONG 1 NGAY',16,1)
		ROLLBACK TRANSACTION
	END
GO

-- CAU 6-3:Khi người dùng viết 1 câu truy vấn nhập 1 dòng cho bảng chi tiết xuất 
--thì CSDL kiểm tra nếu mã phiếu xuất mới đó chưa tồn tại trong bảng phiếu xuất 
--thì CSDL sẽ không cho phép nhập và thông báo lỗi “Phiếu xuất này không tồn tại”. 
--Hãy viết 1 trigger đảm bảo điều này.
CREATE TRIGGER CAU6_3 ON CHITIETXUAT
FOR INSERT,update
AS
BEGIN
	DECLARE @MAPX VARCHAR(5)
	SELECT @MAPX=MAPX FROM inserted
	IF NOT EXISTS(SELECT PX.* FROM PHIEUXUAT PX, INSERTED I WHERE PX.MAPX=I.MAPX AND I.MAPX=@MAPX)
	BEGIN
		RAISERROR('PHIEU XUAT NAY KHONG TON TAI',16,1)
		ROLLBACK TRAN
	END
END
GO
SELECT *
FROM PHIEUXUAT
